---
import PostCard from "../react/Postcard";

interface Post {
    id: string;
    title: string;
    description: string;
    slug: string;
    date: string | null;
    tags: string[];
    cover: string | null;
}

interface Props {
    posts: Post[];
}

const { posts } = Astro.props;
---

<section class='py-10'>
  <div class='grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3'>
    {
      posts.map((post) => (
        <PostCard
          client:load
          title={post.title}
          description={post.description}
          slug={post.slug}
          createdAt={post.date ?? ""}
          tags={post.tags}
          thumbnail={post.cover ?? undefined}
        />
      ))
    }
  </div>
</section>
