---
import Header from "@/components/astro/Header.astro";
import Footer from "@/components/astro/Footer.astro";
---

<html lang='ko'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>do-heewan</title>
    </head>
    <body>
        <Header />
        <h1>main</h1>
        <Footer />
    </body>
</html>
