---

---

<footer>
    <a href={`https://github.com/do-heewan`}>GitHub</a>
    <a href={`https://www.linkedin.com/in/%EC%99%84-%ED%9D%AC-9263a735b/`}
        >LinkedIn</a
    >
</footer>

<style>
    a {
        padding: 0.5rem 1rem;
        color: white;
        background-color: #4c1d95;
        text-decoration: none;
    }

    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>
